html{
    font-family: 'Abril Fatface', cursive;
    background-image:url(https://i.gifer.com/WSG.gif);
    background-size: cover;
    color:white !important;
}

.Titleclass{
    font-size: 30px;
    display: flex;
    justify-content: center !important;
}
#nameplate{
    margin: 0;
    display: flex;
    justify-content: center;
}
#picplate{
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: BLUE-OCEAN;
    src: url(assets/BLUE-OCEAN.ttf);
}
#name-title{
    font-size: 50px;
    font-family: BLUE-OCEAN;
    border-style: solid;
    border-inline: 20px;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
}
#summaryTitle{
    display: flex;
    justify-content: center;
}
#summaryTxt{
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: -60px;
    width: 50%;
}

#eduTitle{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
#eduTxt{
    font-size: 25px;
    margin-top:-60px;
    display: flex;
    justify-content: center;
}
#picofme{

    border: 10px solid rgb(141, 125, 211);
    border-inline: 20px;
    border-radius: 50px;
}
#workTitle{
    margin-top:-20px;
    display: flex;
    justify-content: center;
}
#workTxt{
    font-size: 24px;
    margin-top:-30px;
    display: flex;
    justify-content: center;
}
#skillsTxt{
    text-align: center;
}
